        /* Simple reset */
        body, h1, h2, p {
            margin: 0;
            padding: 0;
        }
        .top-head{font-family: 'Dancing Script', cursive;}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
    
}
h2 {font-size: 16px;}
p {
    margin-bottom: 16px;
}

span {
    font-weight: bold;
}

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #f5f5f5;
        }

        .logo-container {
            display: flex;
            align-items: center;
        }

        .logo-image {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .header-text {
            display: flex;
            flex-direction: column;
        }

        .social-icons {
            display: flex;
            gap: 2px;
        }

        .social-icon {
            width: 25px;
            height: 25px;
        }
        .main-container {
    width: 80%;    
    margin: 0 auto; 
    padding: 0 10%; 
}

input[type="checkbox"] {
    margin-right: 10px;
}
.ingredients-box {
    background-image: url('list-bg.png');
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    font-family: 'Noto Sans JP', sans-serif;
    color: #564735;
    font-size: 18px;
}
.left-column, .right-column {
    width: 48%; 
}
.recipe-text{font-size: 18px;font-family: 'Noto Sans JP', sans-serif;color:#6f6f6f;}
.spacer {
    height: 30px; 
}

.author-section {
    display: flex;
    align-items: center; 
    margin-top: 20px; 

.author-image {
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    margin-right: 20px;
}

.author-details {
    flex: 1; /
}

.share-button {
    width: 200px;
    height: 60px;
    background-color: red;
    color: white;
    border: none;
    text-align: center;
    line-height: 60px; 
    cursor: pointer; 
    font-weight: bold;
}


.share-button:hover {
    background-color: darkred;
}


.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.footer-logo {
    width: 35px;
    height: 35px;
    display: inline-block; 
    background: white;  /
    padding: 5px; 
    margin: 0 20px; 
}

.footer-line {
     width: 40%;
    display: inline-block!important;
    margin: 0px;
}

.left-line {
 
}

.right-line {
  

.footer-text {
    text-align: center;
    margin-top: 30px;
}
